## Connecting to MySQL Server

In [5]:
import pymysql

import pandas as a

In [6]:
conn=pymysql.connect(host='localhost',port=int(3306),user='root',passwd = '******',db='employees')

df=a.read_sql_query("SELECT * FROM departments",conn)

print(df)

  dept_no           dept_name
0    d009    Customer Service
1    d005         Development
2    d002             Finance
3    d003     Human Resources
4    d001           Marketing
5    d004          Production
6    d006  Quality Management
7    d008            Research
8    d007               Sales